* {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 650px) {
  *,
  body {
    font-size: 3.73333333333vw;
  }
}
@media only screen and (width: 360px) {
  *,
  body {
    font-size: 14px;
  }
}
@media only screen and (width: 412px) {
  *,
  body {
    font-size: 14px;
  }
}
@media only screen and (width: 384px) {
  *,
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 650px) {
  *,
  body {
    font-size: 16px;
  }
}
body {
  font-family: 'pingfang sc', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(69, 165, 255, 0.65098039);
  background-image: url('http://qn.nasgo.top/cases-bg.png');
  color: #333;
  height: 100%;
  -webkit-text-size-adjust: 100% !important;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
* {
  font-family: 'pingfang sc', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';
  src: url('https://cdn.jsdelivr.net/gh/yuxizhe/cdn@2/lib/iconfont.woff') format('woff');
}
.outer {
  overflow: hidden;
}
.hide {
  display: none;
}
.company_container {
  height: 90%;
}
a {
  cursor: pointer;
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 1.4286rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0143rem;
  -moz-osx-font-smoothing: grayscale;
}
button,
.mint-radiolist-label,
.mint-switch,
.mint-field-clear {
  cursor: pointer;
}
.mobile-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: white;
  padding: 1rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
}
.contact-me {
  display: none;
}
.inputfild {
  flex: 1;
  height: 90%;
  overflow: auto;
}
.button-submit {
  margin-bottom: 1rem;
}
.range-container {
  padding-bottom: 1rem;
}
.range-container .mint-cell-value {
  flex: 2.2;
}
.range-container .mt-range {
  width: 100%;
}
.mobile-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
  color: #333333;
}
.top-info {
  text-align: center;
  padding-bottom: 0.5rem;
}
.img_upload_container {
  text-align: center;
}
.ad_img_upload {
  margin: auto;
  width: 7.1429rem;
  height: 7.1429rem;
  border-radius: 0.7143rem;
}
.img_upload_explain {
  display: inline;
  font-size: 1rem;
  color: #757575;
}
.state_container {
  display: flex;
}
.state_container .state_item {
  position: relative;
  flex: 1;
  text-align: center;
}
.state_container .state_item .name {
  font-size: 0.9286rem;
}
.state_container .state_item span {
  color: #d6b785;
  font-weight: bold;
}
.state_container .state_item:after {
  position: absolute;
  content: '';
  right: 0;
  top: 14px;
  height: 44.0006px;
  width: 0.98px;
  background-color: #f3f5f7;
}
.state_container .state_item:last-of-type::after {
  display: none;
}
.state_container .iconfont {
  font-size: 2.1429rem;
  color: #d6b785;
}
.user_state {
  text-align: center;
  margin-top: 14px;
  padding: 7px;
  border-top: 0.0714rem solid #f3f5f7;
  border-bottom: 0.0714rem solid #f3f5f7;
}
.user_state .iconfont {
  font-size: inherit;
  color: #ff7260;
}
.company_card_container {
  padding: 1rem 0 0.5rem 0;
  border-top: 1px solid #f3f5f7;
}
.company_card_container:first-of-type {
  border-top: none;
}
.company_card_container:last-of-type {
  margin-bottom: 140px;
}
.company_card {
  display: flex;
  cursor: pointer;
}
.company_card img {
  height: 5.7143rem;
  width: 5.7143rem;
  border-radius: 0.7143rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
.company_card .left {
  text-align: center;
}
.company_card .right {
  flex: 1;
  margin-left: 1rem;
}
.company_card .right .title {
  font-size: 1.2857rem;
  font-weight: 500;
  height: 2.1429rem;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333333;
}
.company_card .right .describe {
  font-size: 0.9286rem;
  color: #555555;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.company_card_bottom {
  display: flex;
  text-align: center;
  margin-top: 0.2143rem;
}
.company_card_bottom .item {
  flex: 1;
  font-size: 0.8571rem;
}
.company_card_bottom .name {
  color: #666;
  font-size: 0.8571rem;
}
.company_card_bottom span {
  font-weight: bold;
  line-height: 1.5rem;
  color: #666666;
}
.company_card_bottom-button {
  margin-top: 0.1571rem;
}
.file {
  position: relative;
  display: block;
  max-width: 4rem;
  text-align: center;
  background: #d0eeff;
  border: 0.0714rem solid #99d3f5;
  border-radius: 0.2857rem;
  padding: 0.2857rem 0.8571rem;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  text-indent: 0;
  line-height: 1.4286rem;
  cursor: pointer;
  margin: 0.5rem auto;
}
.file input {
  position: absolute;
  font-size: 7.1429rem;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.file:hover {
  cursor: pointer;
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
  text-decoration: none;
}
.help {
  margin: 1rem;
  overflow: auto;
}
.help p {
  margin-bottom: 1rem;
}
.help img {
  max-width: 100%;
}
.help h3 {
  margin: 2rem 0;
}
.readme_outer a {
  text-decoration: none;
  color: gray;
}
.readme_outer img {
  margin: auto;
  display: inherit;
}
.lan-bar {
  margin: 0.7143rem 0;
}
.fix_tab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.getGas {
  display: block;
  position: fixed;
  text-decoration: none;
  right: 0.7143rem;
  color: black;
  bottom: 4.7143rem;
  background-image: url(http://qn.nasgo.top/gas_72px_1180533_easyicon.net.png);
  width: 3.5rem;
  height: 3.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
.getGas p {
  display: block;
  color: white;
  font-size: 0.8rem;
  margin: auto;
}
.qr_code {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  text-align: center;
  background: white;
  transform: translateX(370px);
  box-shadow: 7px 6px 6px 2px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
}
.qr_code img {
  width: 12rem;
  height: 12rem;
  border-radius: 5px;
}
.qr_code p {
  padding-bottom: 0.5rem;
}
@media (min-width: 794.0002px) {
  .mint-msgbox {
    width: inherit;
  }
  .button-submit {
    margin-bottom: 3rem;
  }
  .fix_tab {
    right: inherit;
    left: 50%;
    width: 700px;
    transform: translateX(-50%);
  }
  .mobile-wrap {
    max-width: 700px;
    margin: 0 auto 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: white;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    box-shadow: 0 0.8571rem 1.0714rem 0 rgba(0, 0, 0, 0.24), 0 1.2143rem 3.5714rem 0 rgba(0, 0, 0, 0.19);
  }
  .ad_img_upload {
    width: 100px;
    height: 100px;
  }
  .button-submit {
    margin-bottom: 2rem;
  }
  .contact-me {
    display: block;
    position: fixed;
    right: 0;
    bottom: 50px;
    width: 200px;
    text-align: center;
  }
  .contact-me span {
    position: absolute;
    right: 1rem;
  }
  .contact-me a {
    text-decoration: none;
    color: gray;
  }
  .company_container::-webkit-scrollbar,
  .inputfild::-webkit-scrollbar {
    display: none;
  }
  .company_card .right {
    margin-left: 2rem;
  }
  .getGas {
    left: 50%;
    transform: translateX(275px);
  }
  .qr_code {
    display: block;
  }
}

